<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="competition">
      <h2 data-cy="competitionDetailsHeading"><span>Competition</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ competition.id }}</span>
        </dd>
        <dt><span>Comp Type</span></dt>
        <dd>
          <span>{{ competition.compType }}</span>
        </dd>
        <dt><span>Total Participants</span></dt>
        <dd>
          <span>{{ competition.totalParticipants }}</span>
        </dd>
        <dt><span>Prompt</span></dt>
        <dd>
          <div *ngIf="competition.prompt">
            <a [routerLink]="['/prompt', competition.prompt.id, 'view']">{{ competition.prompt.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/competition', competition.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
