<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-competition-heading" data-cy="CompetitionCreateUpdateHeading">Create or edit a Competition</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_linkedPrompt">Linked Prompt</label>
          <input
            type="number"
            class="form-control"
            name="linkedPrompt"
            id="field_linkedPrompt"
            data-cy="linkedPrompt"
            formControlName="linkedPrompt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_competitionType">Competition Type</label>
          <select
            class="form-control"
            name="competitionType"
            formControlName="competitionType"
            id="field_competitionType"
            data-cy="competitionType"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let competitionType of competitionTypeValues" [value]="competitionType">competitionType</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_noOfParticipants">No Of Participants</label>
          <input
            type="number"
            class="form-control"
            name="noOfParticipants"
            id="field_noOfParticipants"
            data-cy="noOfParticipants"
            formControlName="noOfParticipants"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_competitionPrompt">Competition Prompt</label>
          <select
            class="form-control"
            id="field_competitionPrompt"
            data-cy="competitionPrompt"
            name="competitionPrompt"
            formControlName="competitionPrompt"
            [compareWith]="compareCompetitionPrompt"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="competitionPromptOption" *ngFor="let competitionPromptOption of competitionPromptsCollection">
              {{ competitionPromptOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
