<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-prompt-heading" data-cy="PromptCreateUpdateHeading">Create or edit a Prompt</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_promptID">Prompt ID</label>
          <input type="number" class="form-control" name="promptID" id="field_promptID" data-cy="promptID" formControlName="promptID" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_promptContent">Prompt Content</label>
          <input
            type="text"
            class="form-control"
            name="promptContent"
            id="field_promptContent"
            data-cy="promptContent"
            formControlName="promptContent"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_promptDeadline">Prompt Deadline</label>
          <div class="d-flex">
            <input
              id="field_promptDeadline"
              data-cy="promptDeadline"
              type="datetime-local"
              class="form-control"
              name="promptDeadline"
              formControlName="promptDeadline"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_participantsNum">Participants Num</label>
          <input
            type="number"
            class="form-control"
            name="participantsNum"
            id="field_participantsNum"
            data-cy="participantsNum"
            formControlName="participantsNum"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_post">Post</label>
          <select class="form-control" id="field_post" data-cy="post" name="post" formControlName="post" [compareWith]="comparePost">
            <option [ngValue]="null"></option>
            <option [ngValue]="postOption" *ngFor="let postOption of postsSharedCollection">{{ postOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
