<div>
  <h2 id="page-heading" data-cy="PostHeading">
    <span>Posts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-post"
        [routerLink]="['/post/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Post </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="posts?.length === 0">
    <span>No Posts found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="posts && posts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="linkedPrompt">
            <div class="d-flex">
              <span>Linked Prompt</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="linkedUser">
            <div class="d-flex">
              <span>Linked User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="postContent">
            <div class="d-flex">
              <span>Post Content</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="averageStar">
            <div class="d-flex">
              <span>Average Star</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="submissionDate">
            <div class="d-flex">
              <span>Submission Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comment.id">
            <div class="d-flex">
              <span>Comment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/post', post.id, 'view']">{{ post.id }}</a>
          </td>
          <td>{{ post.linkedPrompt }}</td>
          <td>{{ post.linkedUser }}</td>
          <td>
            <a *ngIf="post.postContent" (click)="openFile(post.postContent, post.postContentContentType)">
              <img
                [src]="'data:' + post.postContentContentType + ';base64,' + post.postContent"
                style="max-height: 30px"
                alt="post image"
              />
            </a>
            <span *ngIf="post.postContent">{{ post.postContentContentType }}, {{ byteSize(post.postContent) }}</span>
          </td>
          <td>{{ post.averageStar }}</td>
          <td>{{ post.submissionDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="post.comment">
              <a [routerLink]="['/comment', post.comment.id, 'view']">{{ post.comment.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/post', post.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/post', post.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(post)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
