<div>
  <h2 id="page-heading" data-cy="CompetitionPromptHeading">
    <span>Competition Prompts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-competition-prompt"
        [routerLink]="['/competition-prompt/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Competition Prompt </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="competitionPrompts?.length === 0">
    <span>No Competition Prompts found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="competitionPrompts && competitionPrompts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="linkedCompetition">
            <div class="d-flex">
              <span>Linked Competition</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="promptContent">
            <div class="d-flex">
              <span>Prompt Content</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="post.id">
            <div class="d-flex">
              <span>Post</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competitionPrompt of competitionPrompts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/competition-prompt', competitionPrompt.id, 'view']">{{ competitionPrompt.id }}</a>
          </td>
          <td>{{ competitionPrompt.linkedCompetition }}</td>
          <td>{{ competitionPrompt.promptContent }}</td>
          <td>
            <div *ngIf="competitionPrompt.post">
              <a [routerLink]="['/post', competitionPrompt.post.id, 'view']">{{ competitionPrompt.post.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/competition-prompt', competitionPrompt.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/competition-prompt', competitionPrompt.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(competitionPrompt)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
