<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="post">
      <h2 data-cy="postDetailsHeading"><span>Post</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ post.id }}</span>
        </dd>
        <dt><span>Linked Prompt</span></dt>
        <dd>
          <span>{{ post.linkedPrompt }}</span>
        </dd>
        <dt><span>Linked User</span></dt>
        <dd>
          <span>{{ post.linkedUser }}</span>
        </dd>
        <dt><span>Post Content</span></dt>
        <dd>
          <div *ngIf="post.postContent">
            <a (click)="openFile(post.postContent, post.postContentContentType)">
              <img [src]="'data:' + post.postContentContentType + ';base64,' + post.postContent" style="max-width: 100%" alt="post image" />
            </a>
            {{ post.postContentContentType }}, {{ byteSize(post.postContent) }}
          </div>
        </dd>
        <dt><span>Average Star</span></dt>
        <dd>
          <span>{{ post.averageStar }}</span>
        </dd>
        <dt><span>Submission Date</span></dt>
        <dd>
          <span>{{ post.submissionDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
          <div *ngIf="post.comment">
            <a [routerLink]="['/comment', post.comment.id, 'view']">{{ post.comment.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/post', post.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
