<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-post-heading" data-cy="PostCreateUpdateHeading">Create or edit a Post</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_postID">Post ID</label>
          <input type="number" class="form-control" name="postID" id="field_postID" data-cy="postID" formControlName="postID" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_linkedPrompt">Linked Prompt</label>
          <input
            type="number"
            class="form-control"
            name="linkedPrompt"
            id="field_linkedPrompt"
            data-cy="linkedPrompt"
            formControlName="linkedPrompt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_linkedUser">Linked User</label>
          <input
            type="number"
            class="form-control"
            name="linkedUser"
            id="field_linkedUser"
            data-cy="linkedUser"
            formControlName="linkedUser"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_postContent">Post Content</label>
          <div>
            <img
              [src]="'data:' + editForm.get('postContentContentType')!.value + ';base64,' + editForm.get('postContent')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('postContent')!.value"
              alt="post image"
            />
            <div *ngIf="editForm.get('postContent')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('postContentContentType')!.value }}, {{ byteSize(editForm.get('postContent')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('postContent', 'postContentContentType', 'file_postContent')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_postContent"
              data-cy="postContent"
              (change)="setFileData($event, 'postContent', true)"
              accept="image/*"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="postContent"
            id="field_postContent"
            data-cy="postContent"
            formControlName="postContent"
          />
          <input
            type="hidden"
            class="form-control"
            name="postContentContentType"
            id="field_postContentContentType"
            formControlName="postContentContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_avergaeStar">Avergae Star</label>
          <input
            type="number"
            class="form-control"
            name="avergaeStar"
            id="field_avergaeStar"
            data-cy="avergaeStar"
            formControlName="avergaeStar"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
